<div class="container">
    <div class="section row">
        <div class="col-md-6">
            <h3 class="headline headline--beta">Got a talk idea? We want to see it!</h3>
            <p>
                We’re pleased to announce {{ site.title }}. We're excited to bring together some outstanding people from the Pacific Northwest and all around the world to share their knowledge and experience of a wide variety of subjects relating to technology and community. With your help, we plan to make this the most engaging, pioneering, inclusive conference yet!
            </p>
        </div>
        <div class="col-md-6">
            <h3 class="headline headline--beta">Speaker Perks</h3>
            <p>
                We know speakers are key to the success for {{ site.title }} and hope
                you will submit a talk.  In appreciation of your efforts, our speaker
                compensation package includes:

                <p><a href="{{ url('speaker_package') }}">View Full Speaker Benefits</a></p>
            </p>
        </div>
    </div>
</div>

<section class="section section--primary">
    <div class="container">
        <h2 class="headline headline--beta headline--centered">Diversity Matters!</h2>
        <p>
            {{ site.title }} is committed to creating a conference that is as inclusive as possible.
            Diversity of voices is important to our community, and we are serious when we say EVERYONE AND ANYONE. If you've never given a talk before, that's EVEN MORE reason to submit a proposal now! If you have any questions about what we're looking for, or you're just needing a little encouragement for your submission, please drop us an email at <a href="mailto:speak@cascadiajs.com">speak@cascadiajs.com</a>
        </p>
        <p>
            We are also committed to ensuring the conference is a place
            where ideas are exchanged, old friends get together, new friends meet and <strong>harassment
            is not tolerated</strong>. We expect speakers, attendees, organizers, and sponsor representatives to be professional and courteous to each other. We reserve the right to remove, without refund,
            ANY attendee (speaker or otherwise) who is unable to adhere to this policy. Please see our <a href="https://github.com/cascadiajs/2016.cascadiajs.com/blob/master/code-of-conduct.md">Code of Conduct</a> for further details.
        </p>
    </div>
</section>
