{% extends "layouts/default.twig" %}
{% block content %}
<div class="container">
    <h2 class="headline--beta">Call for Papers Talk Ideas</h2>
    <p>
        {{ site.title }} is taking place August 3rd, 4th and 5th in northern Washington State and we'd love for you to be a part of it! Cascadia Fest is 3 days:

        <ul>
            <li>CascadiaCSS</li>
            <li>CascadiaJS - Browser Day</li>
            <li>CascadiaJS - Server Day</li>

        As we always do, we are running a public Call for Presenters. Diversity of voices is important to our community, so please don't think that you need to be a programming celebrity in order to speak. The deadline to submit a proposal is March 15, 2015 11:59pm UTC-1200. If it's still March 15th, no matter where you are in the world, you still have time! 

    </p>
    <p>
        Remember: "Great talks are about ideas + the person + execution."  To get the ideas flowing, here are a few suggestions.
    </p>
    <ul>
        <li><a href="https://github.com/cascadiajs/2015.cascadiajs.com/blob/master/proposals/free_ideas/A%20History%20of%20Node.md">A History of Node</a></li>
        <li><a href="https://github.com/cascadiajs/2015.cascadiajs.com/blob/master/proposals/free_ideas/Adventures%20of%20a%20New%20Developer.md">Adventures of a New Developer</a></li>
        <li><a href="https://github.com/cascadiajs/2015.cascadiajs.com/blob/master/proposals/free_ideas/Crash%20A%20Mobile%20Browser.md">Crash A Mobile Browser</a></li>
        <li><a href="https://github.com/cascadiajs/2015.cascadiajs.com/blob/master/proposals/free_ideas/Cross%20Platform%20Browser%20Extensions.md">Cross Platform Browser Extensions</a></li>
        <li><a href="https://github.com/cascadiajs/2015.cascadiajs.com/blob/master/proposals/free_ideas/Crystal%20Ball.md">Crystal Ball</a></li>
        <li><a href="https://github.com/cascadiajs/2015.cascadiajs.com/blob/master/proposals/free_ideas/Debugging%20JavaScript.md">Debugging JavaScript</a></li>
        <li><a href="https://github.com/cascadiajs/2015.cascadiajs.com/blob/master/proposals/free_ideas/How%20Did%20I%20Get%20Here.md">How Did I Get Here</a></li>
        <li><a href="https://github.com/cascadiajs/2015.cascadiajs.com/blob/master/proposals/free_ideas/How%20I%20Did%20Code%20School%20%28and%20how%20you%20can%29.md">How I Did Code School (and how you can)</a></li>
        <li><a href="https://github.com/cascadiajs/2015.cascadiajs.com/blob/master/proposals/free_ideas/March%20Madness%20Scraper.md">March Madness Scraper</a></li>
        <li><a href="https://github.com/cascadiajs/2015.cascadiajs.com/blob/master/proposals/free_ideas/Promises.md">Promises</a></li>
        <li><a href="https://github.com/cascadiajs/2015.cascadiajs.com/blob/master/proposals/free_ideas/Secure%20Your%20IoT.md">Secure Your IoT</a></li>
        <li><a href="https://github.com/cascadiajs/2015.cascadiajs.com/blob/master/proposals/free_ideas/Strange%20Journey%20of%20I.md">Strange Journey of I</a></li>
    </ul>
</div>
{% endblock %}

