{% extends "layouts/default.twig" %}
{% block content %}
<div class="container">
    <h2 class="headline--beta">Talk Ideas</h2>
    <p>
        {{ site.title }} is not limited to just JavaScript and CSS related talks. There have been
        sessions covering a wide range of topics supporting developers and DevOps
        as well, and we encourage you to "think outside the box" to come up with your
        own unique topics.
    </p>

    <p>We're looking for anything related to the open web, which includes: CSS, accessibility, UX, browser, Node.js, io.js, Windows 8, Firefox OS, tooling, robots, you name it. Please, no vendor pitches (i.e. How to Use Product X).</p>

    <p>A great talk weaves a story -- it can address issues that developers struggle with, break down and explain complicated topics, and cover new ground in JS technology. All the talks will be 30 minutes. We don't offer Q&A following a talk. We are framework agnostic. We also accept non-talk proposals such as moderated discussions. You can indicate your format in the CfP submission.</p>

    <p>If you choose to submit multiple talks, please do so with the understanding that they should all represent your current passions and interests. These should be as separate of talk topics as you can muster. Multiple talks do not necessarily increase your chance of being selected.</p>

    <h3>CascadiaCSS</h3>

    <p>We will spend a full day exploring the latest and greatest technologies and techniques related to building amazing user experiences for the web, very much in the spirit of CSSConf. Some topics we'd like to explore:</p>

    <ul>
        <li>User experience design</li>
        <li>Advanced CSS</li>
        <li>Sass / LESS / Stylus / PostCSS</li>
        <li>Responsive design</li>
        <li>Cross-platform tips & tricks</li>
        <li>SVG</li>
        <li>Tooling</li>
        <li>Accessibility</li>
    </ul>

    <h3>CascadiaJS</h3>

    <p>To get a feel for what we might be interested in hearing about, take a look at the previous years, 2012, 2013, 2014, and 2015. A few ideas:</p>

    <ul>
        <li>ES6</li>
        <li>Security</li>
        <li>Production setups (deployment, monitoring, etc.)</li>
        <li>The Maker community -- visual art, hardware, robots, music</li>
        <li>Server side JS shenanigans</li>
        <li>Tooling</li>
        <li>Civic hacking</li>
        <li>Testing</li>
        <li>Mobile web</li>
        <li>Education and outreach in JS programming and community</li>
    </ul>
</div>
{% endblock %}

