{% extends "layouts/default.twig" %}
{% block content %}
<div class="container">
    <h2 class="headline--beta">Talk Ideas</h2>
    <p>
        {{ site.title }} is not limited to just JavaScript and CSS related talks. There have been
        sessions covering a wide range of topics supporting developers and DevOps
        as well, and we encourage you to "think outside the box" to come up with your
        own unique topics.
    </p>

    <p>We're looking for anything related to the open web, which includes: CSS, accessibility, UX, browser, Node.js, io.js, Windows 8, Firefox OS, tooling, robots, you name it. Please, no vendor pitches (i.e. How to Use Product X).</p>

    <p>A great talk weaves a story -- it can address issues that developers struggle with, break down and explain complicated topics, and cover new ground in JS technology. All the talks will be 30 minutes. We don't offer Q&A following a talk. We are framework agnostic. We also accept non-talk proposals such as moderated discussions. You can indicate your format in the CfP submission.</p>

    <p>If you choose to submit multiple talks, please do so with the understanding that they should all represent your current passions and interests. These should be as separate of talk topics as you can muster. Multiple talks do not necessarily increase your chance of being selected.</p>

    <h3>CascadiaCSS</h3>

    <p>We will spend a full day exploring the latest and greatest technologies and techniques related to building amazing user experiences for the web, very much in the spirit of CSSConf. Some topics we'd like to explore:</p>

    <ul>
        <li>User experience design</li>
        <li>Advanced CSS</li>
        <li>Sass / LESS / Stylus / PostCSS</li>
        <li>Responsive design</li>
        <li>Cross-platform tips & tricks</li>
        <li>SVG</li>
        <li>Tooling</li>
        <li>Accessibility</li>
    </ul>

    <h3>CascadiaJS</h3>

    <p>Remember: "Great talks are about ideas + the person + execution."  To get the ideas flowing, here are a few suggestions.</p>

    <ul>
        <li>ES6</li>
        <li>Security</li>
        <li>Production setups (deployment, monitoring, etc.)</li>
        <li>The Maker community -- visual art, hardware, robots, music</li>
        <li>Server side JS shenanigans</li>
        <li>Tooling</li>
        <li>Civic hacking</li>
        <li>Testing</li>
        <li>Mobile web</li>
        <li>Education and outreach in JS programming and community</li>
    </ul>

    <p>And here's a few free talk ideas if you're stumped:</p>

    <ul>
        <li><a href="https://github.com/cascadiajs/2015.cascadiajs.com/blob/master/proposals/free_ideas/A%20History%20of%20Node.md">A History of Node</a></li>
        <li><a href="https://github.com/cascadiajs/2015.cascadiajs.com/blob/master/proposals/free_ideas/Adventures%20of%20a%20New%20Developer.md">Adventures of a New Developer</a></li>
        <li><a href="https://github.com/cascadiajs/2015.cascadiajs.com/blob/master/proposals/free_ideas/Crash%20A%20Mobile%20Browser.md">Crash A Mobile Browser</a></li>
        <li><a href="https://github.com/cascadiajs/2015.cascadiajs.com/blob/master/proposals/free_ideas/Cross%20Platform%20Browser%20Extensions.md">Cross Platform Browser Extensions</a></li>
        <li><a href="https://github.com/cascadiajs/2015.cascadiajs.com/blob/master/proposals/free_ideas/Crystal%20Ball.md">Crystal Ball</a></li>
        <li><a href="https://github.com/cascadiajs/2015.cascadiajs.com/blob/master/proposals/free_ideas/Debugging%20JavaScript.md">Debugging JavaScript</a></li>
        <li><a href="https://github.com/cascadiajs/2015.cascadiajs.com/blob/master/proposals/free_ideas/How%20Did%20I%20Get%20Here.md">How Did I Get Here</a></li>
        <li><a href="https://github.com/cascadiajs/2015.cascadiajs.com/blob/master/proposals/free_ideas/How%20I%20Did%20Code%20School%20%28and%20how%20you%20can%29.md">How I Did Code School (and how you can)</a></li>
        <li><a href="https://github.com/cascadiajs/2015.cascadiajs.com/blob/master/proposals/free_ideas/March%20Madness%20Scraper.md">March Madness Scraper</a></li>
        <li><a href="https://github.com/cascadiajs/2015.cascadiajs.com/blob/master/proposals/free_ideas/Promises.md">Promises</a></li>
        <li><a href="https://github.com/cascadiajs/2015.cascadiajs.com/blob/master/proposals/free_ideas/Secure%20Your%20IoT.md">Secure Your IoT</a></li>
        <li><a href="https://github.com/cascadiajs/2015.cascadiajs.com/blob/master/proposals/free_ideas/Strange%20Journey%20of%20I.md">Strange Journey of I</a></li>
    </ul>
</div>
{% endblock %}

