{% extends "layouts/default.twig" %}
{% block content %}
<div class="container">
    <h2 class="headline--beta">{{ site.title }} Call for presenters</h2>

    <p class="lead">Cascadia Fest 2016 is taking place August 3rd - 5th in northern Washington State and we'd love for you to be a part of it! Cascadia Fest is made up of two events over 3 days:</p>

    <ul>
        <li>CascadiaCSS</li>
        <li>CascadiaJS - Browser Day</li>
        <li>CascadiaJS - Node Day</li>
    </ul>

    <p>As we always do, we are running a public Call for Presenters. Diversity of voices is important to our community, so please don't think that you need to be a programming celebrity in order to speak. The deadline to submit a proposal is April 11, 2016 11:59:59pm Pacific Time.</p>

    <p>You are free to submit (and even revise) proposals up until the deadline. Our reviewers will be offering feedback for those ambitious enough to get their talks submitted earlier. Please follow the instructions below and help us spread the word!</p>

    <h2 class="headline--beta">{{ site.title }} Speaker Information</h2>
    <p>
        We're committed to bringing together some of the best speakers from all around the
        world to share their knowledge with you here. We provide a travel and
        accommodation package to all selected speakers to help make this possible.
    </p>
    <h4 class="headline--alpha">About the event</h4>
    <p>
        When the Call for Papers closes, the review committee will pour through the
        submissions with multiple rounds of consideration. Speakers will be notified
        after May 1, 2016 of acceptance. Once confirmations are received decline notices
        will be relayed.
    </p>
    <h4 class="headline--alpha">This year's perks</h4>
    <p>
        If you're accepted as a speaker, the following items are taken care of by us:
    </p>

    <ul>
        <li>One 3-day Fest ticket</li>
        <li>Lodging</li>
        <li>A travel stipend of $500 for domestic speakers and $1000 for international speakers.</li>
        <li>We'll coordinate transportation to/from the airport so final prep for your talk is the most stressful thing you'll deal with.</li>
    </ul>

    <p>If your employer is willing to cover the cost of your attendance we can offer a modified version of our basic Cascadia Fest sponsorship in return.</p>

    <p>Speakers who accept a stipend are asked kindly to refrain from promoting their employer during their talk.</p>

    <p>
        International speakers are encouraged to <a href="/">submit their ideas</a>, but because of budget restrictions,
        we can only accept a limited number of speakers from outside the country.
    </p>

    <h4 class="headline--alpha">Tips for Submission</h4>
    <p>
        We <i>strongly</i> encourage potential speakers to submit more than one submission on more than one topic. The
        more submissions you contribute, the more options you give us to pick you. Be sure your talk title and abstract
        define the exact topic you want to talk about and what you hope people will learn from the session. In previous
        years, some submissions sounded interesting but we just didn't have enough detail for them to make the final cut.
    </p>
</div>
{% endblock %}
